section#infoarte
    //
      +----------------------+
        HEADER
      +----------------------+
    header.g-header
    //- /.g-header
    //
      +----------------------+
        MAIN
      +----------------------+
    main
      div.g-intro.g-container
        section.g-block
          div.g-block__item(color='yellow')
            img(src="../img/1.svg")
          div.g-block__item(color='lilac')
            img(src="../img/2.svg")
          div.g-block__item(color='blue')
            img(src="../img/3.svg")
          div.g-block__item(color='yellow')
            img(src="../img/4.svg")
          div.g-block__item(color='orange')
            img(src="../img/5.svg")
          div.g-block__item(color='green')
            img(src="../img/6.svg")
          div.g-block__item(color='yellow').g-xs-hidden
            img(src="../img/7.svg")
          div.g-block__item(color='lilac').g-xs-hidden
            img(src="../img/8.svg")
          div.g-block__item(color='blue').g-xs-hidden
            img(src="../img/9.svg")
          div.g-block__item(color='yellow').g-xs-hidden
            img(src="../img/10.svg")
          div.g-block__item(color='orange').g-xs-hidden
            img(src="../img/11.svg")
          div.g-block__item(color='green').g-xs-hidden
            img(src="../img/12.svg")
          div.g-block__item(color='yellow').g-xs-hidden.g-md-hidden
            img(src="../img/13.svg")
          div.g-block__item(color='lilac').g-xs-hidden.g-md-hidden
            img(src="../img/14.svg")
          div.g-block__item(color='blue').g-xs-hidden.g-md-hidden
            img(src="../img/15.svg")
          //div.g-block__item(color='yellow').g-xs-hidden.g-md-hidden
            img(src="../img/10.svg")
          //div.g-block__item(color='orange').g-xs-hidden.g-md-hidden
            img(src="../img/11.svg")
          //div.g-block__item(color='green').g-xs-hidden.g-md-hidden
            img(src="../img/12.svg")
          //div.g-block__item(color='yellow').g-xs-hidden.g-md-hidden
            img(src="../img/13.svg")
          //div.g-block__item(color='lilac').g-xs-hidden.g-md-hidden
            img(src="../img/14.svg")
          //div.g-block__item(color='blue').g-xs-hidden.g-md-hidden
            img(src="../img/15.svg")
        //- /.g-block

        //-section.g-block
          div.g-block__item(color='yellow', style=`background-image:url(${s3Link}img/1.svg)` )
            //-img(src="../img/1.svg")
          div.g-block__item(color='lilac',  style=`background-image:url(${s3Link}img/2.svg)` )
            //-img(src="../img/2.svg")
          div.g-block__item(color='blue',   style=`background-image:url(${s3Link}img/3.svg)`)
            //-img(src="../img/3.svg")
          div.g-block__item(color='yellow', style=`background-image:url(${s3Link}img/4.svg)`)
            //-img(src="../img/4.svg")
          div.g-block__item(color='orange', style=`background-image:url(${s3Link}img/5.svg)`)
            //-img(src="../img/5.svg")
          div.g-block__item(color='green',  style=`background-image:url(${s3Link}img/6.svg)`)
            //-img(src="../img/6.svg")
          div.g-block__item(color='yellow', style=`background-image:url(${s3Link}img/7.svg)`).g-xs-hidden
            //-img(src="../img/7.svg")
          div.g-block__item(color='lilac',  style=`background-image:url(${s3Link}img/8.svg)`).g-xs-hidden
            //-img(src="../img/8.svg")
          div.g-block__item(color='blue',   style=`background-image:url(${s3Link}img/9.svg)`).g-xs-hidden
            //-img(src="../img/9.svg")
          div.g-block__item(color='yellow', style=`background-image:url(${s3Link}img/10.svg)`).g-xs-hidden
            //-img(src="../img/10.svg")
          div.g-block__item(color='orange', style=`background-image:url(${s3Link}img/11.svg)`).g-xs-hidden
            //-img(src="../img/11.svg")
          div.g-block__item(color='green',  style=`background-image:url(${s3Link}img/12.svg)`).g-xs-hidden
            //-img(src="../img/12.svg")
          div.g-block__item(color='yellow', style=`background-image:url(${s3Link}img/13.svg)`).g-xs-hidden.g-md-hidden
            //-img(src="../img/13.svg")
          div.g-block__item(color='lilac',  style=`background-image:url(${s3Link}img/14.svg)`).g-xs-hidden.g-md-hidden
            //-img(src="../img/14.svg")
          div.g-block__item(color='blue',   style=`background-image:url(${s3Link}img/15.svg)`).g-xs-hidden.g-md-hidden
            //-img(src="../img/15.svg")
        //- /.g-block
        section.g-block__overlay
          h2.g-title.g-text-center #[span.g-title__light Copa]  #[br ] #[span.g-title__semibold Cabeluda] 
          p.g-text-center Você reconhece um jogador olhando os cabelos?
          button.g-button-start.g-button.g-button-text Entrar
        //- /.g-block__overlay
      div.g-main
        div.g-main__item
        //- ./g-main__item                
      //- /.g-main

    //- /main    
//- /#infoarte



